<h1 class="text-primary" >Users</h1>

<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.name %></th>
        <td><%= link_to 'Show', user, class: 'link-dark' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'link-dark' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-dark' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
 