<h1 class="text-white bg-success p-2" >Events</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col" colspan="3"><h2 class="text-success">Upcoming</h2></th>
    </tr>
  </thead>
  <tbody>
    <% @events.future.each do |event| %>
      <tr>
        <th class= "fs-4 link-success text-decoration-none" scope="row"><%= link_to event.description, event, class: 'fs-4 link-success text-decoration-none' %></th>
        <td class= "fs-4"><%= event.date.strftime("%A %b %d, %Y \t\t %H:%M") %></td>
        <td class= "fs-4 link-dark text-decoration-none"><%= link_to event.creator.name, user_path(event.creator.id), class: 'fs-4 link-dark text-decoration-none' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<table class="table">
  <thead>
    <tr>
      <th c scope="col" colspan="3"><h2 class="text-secondary">Past</h2></th>
    </tr>
  </thead>
  <tbody>
    <% @events.past.each do |event| %>
      <tr>
        <th class= "fs-4 link-success text-decoration-none" scope="row"><%= link_to event.description, event, class: 'fs-4 link-secondary text-decoration-none' %></th>
        <td class= "fs-4"><%= event.date.strftime("%A %b %d, %Y \t\t %H:%M") %></td>
        <td class= "fs-4 link-dark text-decoration-none"><%= link_to event.creator.name, user_path(event.creator.id), class: 'fs-4 link-dark text-decoration-none' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Event', new_event_path, class: 'btn btn-success mb-3' %>
