<h1 class="text-success"><%= @event.description %></h1>
<br>
<p class="text-success h6">When: <span class="fw-bold"><%= @event.date.strftime("%^A %b %d, %Y") %></span></p>
<p class="text-success h6">Creator: <span class="fw-bold"><%= @event.creator.name %></span></p>
<br>
<hr>
<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-success mb-3' %>
<%= link_to 'Back', events_path, class: 'btn btn-success mb-3' %>
